@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.container {
    max-width: 650px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: white;
    border: 3px solid black;
    border-radius: 10px;
    padding-bottom: 20px;
    margin-top: 18%;
    background: linear-gradient(white, #00BFFF)
}

.weather-forecast-date {
    color: black;
}

.weather-forecast {
    margin-top: 20px;
    text-align: center;
}

.weather-forecast-date {
    font-size: 16px;
}

.popularCities {
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
    margin-top: 8px;
}

a {
    color: black
}

a:hover {
    color:orange;
}

form {
    margin-top: 6px;
}

h4 {
    margin-left: 20px;
    font-size: 20px;
}

.input_text {
    width: 85%;
    margin-bottom: 20px;
    padding: 7px;
}

.input_submit {
    height: 40px;
    width: 14%;
}

#weather::first-letter {
    text-transform: capitalize;
}

#currentlyC .active {
    color: black;
    cursor: default;
}

#currentlyC .active:hover {
    text-decoration: none;
}

.humidity {
    color: black;
}

.wind {
    color: black;
}

.weather-forecast-temperatures {
    font-size: 17px;
}

.weather-forecast-temperature-min {
    color: black;
    opacity: 0.6;
}

.weather-forecast-temperature-max {
    color: 	#CD5C5C;
}

.weather-forecast-date {
    font-size: 16px;
    opacity: 0.6;
}

.main_block {
    padding-top: 10px;
    margin-bottom: 10px;
}

.main_block {
    font-size: 40px;
    color: black;
}

.main_block h3 {
    font-size: 20px;
}

.wind_column {
    text-align: right;
}

.wind_column h5 {
    font-size: 25px;
}

.other_days {
    font-size: 20px;
    margin-top: 30px;
}

#image {
    width: 110px;
    height: 100px;
    padding-left: 10px;
}

#currentlyC h6 {
    font-size: 60px;
    color:	#CD5C5C;
    padding-left: 10px;
}


.celsius {
    margin-right: 5px;
}

.fahrenheit {
    margin-left: 5px;
}

.git {
    text-align: center;
}

.footer {
    color: #40E0D0;
}